body {
    font-family: 'Poppins', sans-serif;
}

.name {
    color: orange;
    font-size: 60px;
    font-weight: bolder;

}

h1 {
    font-size: 50px;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 3%;
}

.half-width img {
    width: 70%;
    padding-left: 80px;
}

.link-buttion {
    text-decoration: none;
}

#des-1 {
    text-align: justify;
}